*.DS_Store
android/*
binary/*
build/*
publishing/*

# imported files
.godot/*
*.tmx.client.scn*
*.tmx.navigation.tres*
*.tmx.server.tres*

# addons
~*.dll

# linux env
.mono

.vscode

# tmp files
*.tmp
